appdirs==1.4.2
blessed==1.14.1
boto==2.46.1
botocore==1.5.19
bz2file==0.98
cement==2.8.2
click==6.7
cloudpickle==0.2.2
colorama==0.3.7
cymem==1.31.2
cytoolz==0.8.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
Flask==0.12
Flask-Script==2.0.5
flexmock==0.10.2
gensim==1.0.0
itsdangerous==0.24
Jinja2==2.9.5
jmespath==0.9.1
MarkupSafe==0.23
murmurhash==0.26.4
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pathlib==1.0.1
pathspec==0.5.0
pkg-resources==0.0.0
plac==0.9.6
preshed==0.46.4
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.9.1
scikit-learn==0.18.1
scipy==0.18.1
semantic-version==2.5.0
semver==2.7.5
six==1.10.0
sklearn==0.0
smart-open==1.4.0
spacy==1.6.0
sputnik==0.9.3
tabulate==0.7.5
termcolor==1.1.0
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
wcwidth==0.1.7
websocket-client==0.40.0
Werkzeug==0.11.15
